@model EmployeesApp.Web.Models.Employee[]
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
    <html>
    <head>
        <title>Employee List</title>
        <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
    </head>
    <body>
        <h2>Employee list</h2>
        <ol style="list-style-type:none;">
            @foreach(var employee in Model)
            {
                <li><a asp-controller="employees" asp-action="details" asp-route-id="@employee.Id">@employee.Name</a></li>
            }
        </ol>
        <a asp-controller="employees" asp-action="create">Create new employee</a>
    </body>
    </html>
